@tailwind base;
@tailwind components;
@tailwind utilities;

.comments-scrollbar::-webkit-scrollbar {
    width: 6px;
}

.comments-scrollbar::-webkit-scrollbar-track {
    background: #2d2d2d;
    border-radius: 4px;
}

.comments-scrollbar::-webkit-scrollbar-thumb {
    background: #525252;
    border-radius: 4px;
}

.comments-scrollbar::-webkit-scrollbar-thumb:hover {
    background: #6e6e6e;
}

.comment-section {
    max-width: 95%;
}

.comment-options-top {
    top: calc(50% - 28px);
}

.comment-options-button {
    opacity: 0;
}

.comment-section:hover .comment-options-button {
    opacity: 1;
}

.chat-scrollbar::-webkit-scrollbar {
    width: 6px;
}

.chat-scrollbar::-webkit-scrollbar-track {
    background: #2d2d2d;
    border-radius: 4px;
}

.chat-scrollbar::-webkit-scrollbar-thumb {
    background: #525252;
    border-radius: 4px;
}

.chat-scrollbar::-webkit-scrollbar-thumb:hover {
    background: #6e6e6e;
}

.chat-section {
    max-width: 95%;
}

.b1 {
    transform: translateY(0);
    animation: b1anime 0.6s infinite ease alternate 0s;
}

.b2 {
    transform: translateY(0);
    animation: b2anime 0.6s infinite ease alternate 0.3s;
}

.b3 {
    transform: translateY(0);
    animation: b3anime 0.6s infinite ease alternate 0.6s;
}

@keyframes b1anime {
    from {
        transform: translateY(-5px);
    }
    to {
        transform: translateY(0px);
    }
}

@keyframes b2anime {
    from {
        transform: translateY(-5px);
    }
    to {
        transform: translateY(0px);
    }
}

@keyframes b3anime {
    from {
        transform: translateY(-5px);
    }
    to {
        transform: translateY(0px);
    }
}

.btn-click{
    transition: all 0.3s;
}

.btn-click:active{
    transform: scale(0.95);
}

